# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# LaTeX ignore
*.aux
*.log
*.toc
*.blg
*.bbl
*.synctex.gz
*.pdf  # Optional: only ignore if you don't want the compiled paper on Git